
# Prevents unwanted files from being committed to version control.

# Custom Config file
config/config.yaml

# Python bytecode
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
.venvs/

# Build artifacts
dist/
build/
*.egg-info/

# Editor files
.vscode/
.idea/

# OS noise
.DS_Store
Thumbs.db

# Nix Cache to speed up tests
.nix/