name: CI

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  test-unit:
    uses: ./.github/workflows/test-unit.yml

  test-integration:
    uses: ./.github/workflows/test-integration.yml

  test-container:
    uses: ./.github/workflows/test-container.yml

  test-e2e:
    uses: ./.github/workflows/test-e2e.yml

  test-virgin-user:
    uses: ./.github/workflows/test-virgin-user.yml

  test-virgin-root:
    uses: ./.github/workflows/test-virgin-root.yml
