name: CI

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  test-unit:
    uses: ./.github/workflows/test-unit.yml

  test-integration:
    uses: ./.github/workflows/test-integration.yml

  test-env-virtual:
    uses: ./.github/workflows/test-env-virtual.yml

  test-env-nix:
    uses: ./.github/workflows/test-env-nix.yml

  test-e2e:
    uses: ./.github/workflows/test-e2e.yml

  test-virgin-user:
    uses: ./.github/workflows/test-virgin-user.yml

  test-virgin-root:
    uses: ./.github/workflows/test-virgin-root.yml

  codesniffer-shellcheck:
    uses: ./.github/workflows/codesniffer-shellcheck.yml

  codesniffer-ruff:
    uses: ./.github/workflows/codesniffer-ruff.yml
