name: Ruff (Python code sniffer)

on:
  workflow_call:

jobs:
  codesniffer-ruff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install ruff
        run: pip install ruff

      - name: Run ruff
        run: |
          ruff check src tests
