name: Test Code Integration

on:
  workflow_call:

jobs:
  test-integration:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      NIX_CONFIG: |
        access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show Docker version
        run: docker version

      - name: Run integration tests via make (Arch container)
        run: make test-integration PKGMGR_DISTRO="arch"
