name: Test Units

on:
  workflow_call:

jobs:
  test-unit:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show Docker version
        run: docker version

      - name: Run unit tests via make (Arch container)
        run: make test-unit DISTROS="arch"
