name: Test OS Containers

on:
  workflow_call:

jobs:
  test-container:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show Docker version
        run: docker version

      - name: Run container tests
        run: make test-container
